@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'reset';
@import './vars/global';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: #fff;
  font: var(--font-m);
}

.wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  font: var(--font-m);
  min-height: 100dvh;
  width: 100%;
}

.page-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
